<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.banner_url %>);">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row mt-4">
    <% @garden.plants.each do |plant| %>
      <div class="col-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
          <div class="text-center">
            <%= plant.name %>
            <br>
          </div>
          
          <%= link_to "+", plant_path(plant), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>
        
          <%= link_to "+", new_plant_plant_tag_path(plant), class: "card-add" %>

          <div class="card-tags">
            <% plant.plant_tags.each do |plant_tag| %>
              <span><%= plant_tag.tag.name %></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row my-4">
    <div class="col-4">
      <h3>Add a new plant</h3>
      <%= simple_form_for([@garden, @plant]) do |f| %>
        <%= f.input :name %>
        <%= f.input :image_url %>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>
